.card {
    color: dimgrey;
    width: 30%;
    margin-bottom: 30px;
    margin-right: 5%;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 3px rgba(44, 47, 60, 0.06);
  
    &:nth-child(3n) {
      margin-right: 0;
    }
  
    &:hover {
      box-shadow: 10px 4px 22px 5px rgba(44, 47, 60, 0.16);
      cursor: pointer;
      & .card-film-name {
        color: black;
        font-size: bold;
    }
   
    }
  }
  
  .card-image {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }
  
  .card-film-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 15px;
  
    .card-year {
      border: 1px solid dimgrey;
      padding: 3px 6px;
      border-radius: 3px;
    }
  }
  
  .card-genre {
    color: gray;
  }
  
  .card-description {
    width: 90%;
    margin: 0 auto;
  }